<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChooseImage"
        tools:targetApi="31">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".StatiscalCotnroller"
            android:exported="true"
            android:label="Thống kê"/>
        <activity
            android:name=".ReadChapter"
            android:exported="true"
            android:label="@string/Read" />
        <activity
            android:name=".Adapter_Chap"
            android:exported="true"
            android:label="@string/Detail" />
        <activity
            android:name=".MainAddChapter"
            android:exported="true"
            android:label="@string/AddChapter" />
        <activity
            android:name=".MainSaved"
            android:exported="true"
            android:label="@string/Saved" />
        <activity
            android:name=".MainRegister"
            android:exported="true"
            android:label="@string/Register" />
        <activity
            android:name=".MainLogin"
            android:exported="true"
            android:label="@string/Login" />
        <activity
            android:name=".MainHello"
            android:exported="true"
            android:label="@string/Hello"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainEdit"
            android:exported="true"
            android:label="@string/Edit" />
        <activity
            android:name=".MainRead"
            android:exported="true"
            android:label="@string/Read" />
        <activity
            android:name=".Adapter_Book"
            android:exported="true"
            android:label="@string/them" />
        <activity
            android:name=".MainBook"
            android:exported="true"
            android:label="@string/Book" />
        <activity
            android:name=".layoutImage"
            android:exported="true"
            android:label="@string/them" />
        <activity
            android:name=".ShowListImage"
            android:exported="true"
            android:label="@string/them"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/them"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>